/* Algemene stijl */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Root-container die alles vult */
#root,
.center-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Container die het volledige scherm gebruikt */
.container {
  max-width: 1200px;
  margin: 0;
  padding: 20px;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
}

/* Titel styling */
.container h1 {
  background-color: #fff;
  color: #333;
  padding: 20px;
  font-size: 2em;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

/* Tabel stijl */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* Knoppen */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

button:hover {
  background-color: #45a049;
}


.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  /* Zorgt ervoor dat de container hoger komt */
  padding-top: 30px;
  /* Extra padding bovenaan */
}

.modal {
  display: flex;
  /* Zorgt ervoor dat de modal zichtbaar is */
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}